* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  width: 240px;
  height: 320px;
  border-radius: 10px;
  overflow: hidden;
  border: 3px solid #333;
  background: rgb(54, 78, 49);
}

.screen {
  width: 100%;
  height: 100%;
  position: absolute;
}

.hidden {
  display: none;
}

button {
  width: 200px;
  height: 45px;
  border: none;
  border-radius: 10px;
  background: rgb(149, 112, 130);
  color: rgb(224, 222, 151);
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
